
@import 'bourbon/bourbon';

header {
  width: 1000px;
}

#sidebar {
	width: 200px;
	float:left;
	
}

img.logo-image {
  width:20px;
}

img.profile-image {
	width:150px;
}

h1.name {
	font-size:18px;
	margin:0px;
	color:red;
}

h2.user-name {
	font-size:14px;
	color:grey;
	margin:0px;
}

.date-created{
	font-size:10px;
}

.followers-text{
	font-size:8px;
}

.following-text{
	font-size:8px;
}

#main-body{
	width:600px;


	.repo-names {
		float:right;
	}
	
