<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
    <title>Homework week 3</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css"/>

 <link rel="stylesheet" href="/octicons/octicons.css">
    <link rel="stylesheet" href="styles/main.css"/>

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>

    <header>
         <a class= "github-logo" href= "http://www.github.com"><span class="octicon octicon-mark-github"></span></a>
        <div class= "searchbar"></div>
        <div class= "header-links-one">
            <div class="explore-link"></div>
            <div class="gist-link"></div>
            <div class="blog-link"></div>
            <div class="help-link"></div>
        </div> <!--end of header-links-one-->
        <div class= "header-links-two">
            <div class="user-link"></div>
            <div class="add-new-link"></div>
            <div class="settings-link"></div>
            <div class="sign-out-link"></div>
        </div> <!--end of header-links-two-->
    </header>

    <div id="sidebar"></div> <!--End of sidebar div-->

    <script type="text/template" id="sidebar_template">
        <img class="profile-image" src="<%= avatar_url %>" alt="<%= name %>" />
        <h1 class="name"><%=name%></h1>
        <div class="user-name"><%=login%></div>
        <div class="date-created"><span class="octicon octicon-clock"></span><%=created_at%></div>
        <div class="profile-stats">
        <a class= "followers" href=<%=followers_url%>><span class="followers-text">Followers</span><%=followers%></a>
        <a class="following" href=<%=following_url%>><span class="following-text">Following</span><%=following%></a>
        <div class= "starred"></div> 
        </div>

    </script>

     <div class="top-body">
        <div class="searchbar-two"></div>
        <div class="body-links"></div>
        <button type="new-repo-button">New</button>
    </div>

    <div id="main-body"> </div> <!--End of main-body div-->

    <script type="text/template" id='main_body_template'>

    <ul class="repos">
    <li><span class="octicon octicon-repo"></span><a class="repo-names" href=<%=url%>><%=name%></a></li>
    <div class="description"><%=description%></div>
    <div class="last-updated">Last updated on <%=pushed_at%></div>
    <a class="forks" href=<%=forks%>><span class="octicon octicon-git-branch"></span></a>
    <a class="stargazers" href=<%=stargazers_count%>><span class="octicon octicon-star"></span></a>
    <div class="language"><%=language%></div>



    </ul>

 </script>

    <script src="scripts/vendor.js"></script>

        <script src="scripts/secret.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
